html {
    height: 100%;
} 

.box{
    width: 600px;
    height: 950px;
    background: rgba(0, 0, 0, 0.4);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: rgb(31, 29, 29);
    font-family: cursive;
}

.box-img{
    border-radius: 50%;
    width: 500px;
    height: 500px;
}
.box-h1{
    font-size: 60px;
    letter-spacing: 6px;
    font-weight: inherit;
}
.box-h2{
    font-size: 30px;
    letter-spacing: 9px;
    font-weight: bold;
}
.box-p{
    font-size: 50px;
    letter-spacing: 5px;
    font-weight: inherit;
}

.flexbox-container {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    /* CSS Smooth Scroll */
    overflow-y: scroll; 
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}
.container34 
{
    position: relative;
    width: 1200px;
    height: 500px;
    margin: 10px auto;

}
.container34 .box
{
    position: relative;
    width: 550px;
    height: 400px;
    background: rgb(160, 217, 250);
    float: right;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
}
.container34 .box .icon
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(60, 78, 105);
    transition: 0.5s;
    z-index: 1;
}
.container34 .box:hover .icon 
{ 
    top: 20px; 
    left: calc(50% - 40px);
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.container34 .box .icon .fa 
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 80px;
    transition: 0.5s;
    color: #fff;
}
.container34 .box .content
{
    position: absolute;
    top: 150px;
    height: calc(100%-170px);
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

body {
    background-size: cover;
    background-image: url("images/building_trans.jpg");
    margin: 0;
    padding: 0;
}
.line{
    height: 25px;
    min-width: 800px;
    margin: 0 auto 10px;
    line-height: 25px;
    font-size: 14px;
    color: #fff;
    padding: 0 0 0 10px;
    position: relative;
}
.line:before{
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    height: 25px;
    top: 0;
    z-index: -2;
    background: #d2d6d7;
}

header{
    height: 0px;
    text-align: center;
    font-weight: 500;
    padding: 10px 0;
}

nav{
    background-color: rgba(0, 0, 0, 0.116);
    font-family: cursive;
    text-align: center;
    z-index: 1;
    display: flex;
    position: fixed;
    width: 100%;
    height: 40px;
    list-style: none;
    text-decoration: none;
    text-transform: uppercase;
    color: #f4f4f488;
}

.navbar ul li a:hover {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
    color: whitesmoke;
}

main{
    height: 400px;
    text-align: center;
    margin-top:80px;
    padding-left: 240px;
    padding-right: 240px;
}

footer {
    background-color:  rgba(0, 0, 0, 0.116);
    padding-top: 5px;
    padding-bottom: 5px;
}

h1 {
    font-size: 84px;
    color: black;
    font-family:  cursive;
    text-align: center; 
}
p {
    font-size: 35px;
    color: black;
    font-family:  cursive; 
    margin-top: auto;
}
html, body{
    width: 100%;
    height: 100%;
    margin: 0;
}
.container{
    margin: 0 auto;
    margin-top: 20px;
    position: relative;
    width: 70%;
    height: 0;
    padding-bottom: 40%;
    border: solid 10px #2c2c2c;
}
.slide_img{
    position: absolute;
    width: 100%;
    height: 100%;
}
.slide_img img{
    width: 100%;
    height: 100%;
}
#i1, #i2, #i3, #i4{
    display: none;
}
.pre, .nxt{
    width: 12%;
    height: 100%;
    position: absolute;
    top: 0;
    background: rgba(88,88,88,.4);
    z-index: 99;
    cursor: pointer;
}
.pre{
    left: 0;
}
.nxt{
    right:0;
}
.nav{
    width: 100%;
    height: 11px;
    bottom: 12%;
    position: absolute;
    text-align: center;
    z-index: 99;
}
.dots{
    top: -5px;
    width: 18px;
    height: 18px;
    margin: 0 4px;
    position: relative;
    border-radius: 50%;
    display: inline-block;
    background: rgba(0, 0, 0, 0.6);
}
.slide_img{
    z-index: -1;

}
#i1:checked ~  #one,
#i2:checked ~ #two,
#i3:checked ~ #three,
#i4:checked ~ #four {
    z-index: 9;
}
#i1:checked ~ .nav #dot1,
#i2:checked ~ .nav #dot2,
#i3:checked ~ .nav #dot3,
#i4:checked ~ .nav #dot4 {
    background: #fff;

}
a {
    color: black;
    font-family: cursive;
    /* text-decoration: none; */
}

nav a {
    text-decoration: none;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
} 

footer p {
    font-size: 10px;
    text-align: center;
    color: grey;
}

section {
    display: flex;
    flex-direction: column;
    align-items: top;
    justify-content: top;
    text-align: left;
    width: 100%;
    height: 100vh;
    scroll-snap-align: left;
}

section h1 {
    font-size:3rem;
    font-family: cursive;
    height: 10vh;
    text-align: center;
    justify-content: top; 
}

section p {
    font-size: 3rem;
    font-family: cursive;
    height: 180vh;
    text-align: center;
    justify-content: top;
}

.slider-container {
    width: 200;
}

section h2 { 
    font-size:3rem;
    font-family: cursive;
    height: 180vh;
    text-align: center;
    justify-content: top;
}

section p {
    font-size: 3rem;
    height:190vh;}

section h3 {
    font-size:3rem;
    font-family: cursive;
    height: 180vh;
    text-align: center;
    justify-content: top;
 
}

section p {
    font-size: 1.5rem;
    font-family: cursive; 
    height: 300vh;
    text-align: middle;
    justify-content: top;
}   

section h4 {
    font-size:3rem;
    font-family: cursive;
    height: 160vh;
    text-align: center;
    justify-content: top;
 
}
section h5 {
    font-size:3rem;
    font-family: cursive;
    height: 160vh;
    text-align: center;
    justify-content: top;
}
.slidershow{
    width: 700px;
    height: 400px;
    overflow: hidden;
}

.middle{
   position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.navigation{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.bar{
    width: 50px;
    height: 10px;
    border: 2px solid #fff;
    margin: 6px;
    cursor: pointer;
}
.center{
    width: 80%;
    position: right;
    height: 20%;
    top: 2%;
    left: 50%;
    transform: translate(0%,0%);
    padding: 20px;
    background: #333;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
}
h6
{
    margin: 10;
    padding: 10;
    color: black;
    text-transform:uppercase;
    letter-spacing: 2px;
    font-size: 20rem;
    position: 0;
}

